.blur-test-background{
    background: url(http://localhost/laravel-react/tutorial-react/resources/js/imageassest/laptop.jpg);
    height: 70vh;
    width: 100%;
    display:flex;
    object-fit: contain;
    /* resize: both; */
    background-size: cover;
    background-repeat: space;
}
.blur-test-background .content{
    background: inherit;
    /* background: url(http://localhost/laravel-react/tutorial-react/resources/js/imageassest/laptop.jpg); */
    width: 60vw; /* =cw */
    height: 35vh; /* =ch */
    border-radius: 8px;
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 34vh; 
    left: 50%; 
    transform: translate(-50%, -50%);
    overflow: hidden;
}
.blur-test-background .text {
    padding: 10px;
    color: whitesmoke;
    font-size: 5vw;
    /* font-family: 'Cursive'; */
    background: rgba(255, 255, 255, 0.3);
    height: 100%;
    box-sizing: border-box; /* so that padding is included in height */
  }
  
  .blur-test-background .blur {
    background: inherit;
    /* background: url(http://localhost/laravel-react/tutorial-react/resources/js/imageassest/laptop.jpg); */
    height: 70vh; /* h */
    width: 166.667%; /* (100/cw) x 100% */
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(
      -20%,
      -30%
    ); /* - [cl - (cw/2)] % ,  -[ct - (ch/2)] % */
    filter: blur(20px);
    z-index: -1;
  }
  .padding-h4{
    padding-left: 10%;
    padding-top: 3%;
  }
  .color-main-text{
    /* color: #fff; */
    color: black;
    font-size: 4vw;
    margin-top: 2px;
    font-family: 'woody';
    /* text-shadow: 5px 5px 5px slategray; */
  }

  @font-face{
    font-family: 'woody';
    src: url('../font/TeachDemo-Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }

@media only screen and (max-width: 1024px) {
  
}
  .color-main-below-text{
    color: darkslategray;
    font-size: 2vw;
    font-family: 'woody';
  }
  .color-h4{
    color: #fff;
  }
  .color-nav-header{
    /* color: skyblue; */
    color: blueviolet;
  }
  .color-nav-header-below{
    color: darkslategray;
  }
  .padding-below{
    padding-bottom: 2vh;
  }
  #text1{
    font-family: 'woody';
    font-size: 2rem;
  }
  
