.blur-test-background-androidIos{
    background: url(http://localhost/laravel-react/tutorial-react/resources/js/imageassest/laptop.jpg);
    height: 70vh;
    background-size: cover;
}
.blur-test-background-androidIos .content{
    background: inherit;
    width: 60%; /* =cw */
    height: 40%; /* =ch */
    border-radius: 8px;
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 45%; /* =ct */
    left: 50%; /* =cl */
    transform: translate(-50%, -50%);
    overflow: hidden;
}
.blur-test-background-androidIos .text {
    /* padding: 70px; */
    padding-top: 70px;
    background: rgba(255, 255, 255, 0.3);
    height: 100%;
    box-sizing: border-box; /* so that padding is included in height */
  }
  .blur-test-background-androidIos .blur {
    background: inherit;
    height: 70vh; /* h */
    width: 166.667%; /* (100/cw) x 100% */
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(
      -20%,
      -30%
    ); /* - [cl - (cw/2)] % ,  -[ct - (ch/2)] % */
    filter: blur(20px);
    z-index: -1;
  }
  
  @font-face {
    font-family: 'KulminoituvaRegular';
    src: url('../font/Kulminoituva.ttf.eot');
    src: url('../font/Kulminoituva.ttf.woff') format('woff'), url('../font/kulminoituva.ttf') format('truetype'), url('../font/Kulminoituva.ttf.svg') format('svg');
    font-weight: normal;
    font-style: normal;
   }
  
