
.blur-hover img:hover {
	-webkit-filter: blur(8px);
	filter: blur(10px);
}
.blur-all img{
	-webkit-filter: blur(8px);
	filter: blur(10px);
}

.middle {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

.blurredBG {
	background: url(http://localhost/laravel-react/tutorial-react/resources/js/imageassest/led_display.jpeg);
	width: 23.5rem;
	height: 14rem;
	display: inline-block;
	background-size: cover;
	border-radius: 4px;
	/* border: 2px solid #000;
	box-shadow: 0 0 8px #000; */
	position: relative;
	overflow: hidden;
	color: #000;
	margin: 2px;
	margin-top: 5px;
  }
  
  .blurredBG .parentBG {
	position: absolute;
	width: 100%;
	bottom: 0;
	box-shadow: 0 0 8px #000;
	z-index: 1;
	overflow: hidden;
	transform: translateY(100%);
	transition: 0.5s;
	opacity: 0;
	background: inherit;
  }
  
  .blurredBG:hover .parentBG {
	transform: translate(0);
	opacity: 1;
	
  }
  
  .blurredBG .content {
	background-color: rgba(255, 255, 255, 0.9);
	padding: 8px;
	font-family: arial;
	
  }
  
  .blurredBG .bG {
	position: absolute;
	width: 200px;
	height: 200px;
	/* bottom: 0; */
	background-size: contain;
	-webkit-filter: blur(15px);
	z-index: -1;
	filter: blur(20px);
	background: inherit;
  }
  
  .textWithBlurredBg{
    width:300px;
    height:auto;
    display:inline-block;
    position:relative;
    transition:.3s;
    margin:4px;
  }
  
  .textWithBlurredBg img{
    width:100%;
    height:100%;
    /* transition:.3s; */
	border-radius:4px;
	position: absolute;
	bottom: 0;
	/* box-shadow: 0 0 8px #000; */
	z-index: 1;
	overflow: hidden;
	transform: translateY(20%);
	/* transform: translateY(20%); */
	transition: 0.3s;
	opacity: 0;
	/* background: inherit; */
  }

  .textWithBlurredBg:hover::before{
	  background: url(http://localhost/laravel-react/tutorial-react/resources/js/imageassest/led_display.jpeg);
  }
  
  .textWithBlurredBg:hover img{
		
	filter:blur(10px) ;
	transform: translate(0);
	opacity: 1;
    box-shadow:0 0 2px cyan;
  }
   
  .textWithBlurredBg :not(img){
    position:absolute;
    z-index:1;
    top:30%;
    width:100%;
	text-align:center;
	font-style: italic;
	font-size: 35px;
	font-weight: bold;
    color: black;
    opacity:0;
    transition:.3s;
  }
  
  .textWithBlurredBg h3{
    top:50%
  }
  
  .textWithBlurredBg:hover :not(img){
    opacity:1;
  }

.blur-test-hover{
    /* background: url(http://localhost/laravel-react/tutorial-react/resources/js/imageassest/led_display.jpeg); */
    background-size: cover;
}
.blur-test-hover .contentHover{
    background: inherit;
    width: 100%; /* =cw */
    /* height: 100%; =ch */
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 45%; /* =ct */
    left: 50%; /* =cl */
    transform: translate(-50%, -50%);
	overflow: hidden;
	
	bottom: 0;
	z-index: 1;
	transform: translateY(100%);
	transition: 0.5s;
	opacity: 0;
}
.blur-test-hover .text {
    /* padding: 70px; */
    padding-top: 70px;
    background: rgba(255, 255, 255, 0.3);
    height: 100%;
    box-sizing: border-box; /* so that padding is included in height */
}
.blur-test-hover .blur {
    background: inherit;
    height: 70vh; /* h */
    width: 166.667%; /* (100/cw) x 100% */
    position: absolute;
	left: 0;
	transform: translate(0);
	opacity: 1;
    top: 0;
    transform: translate(
      -20%,
      -30%
    ); /* - [cl - (cw/2)] % ,  -[ct - (ch/2)] % */
    filter: blur(20px);
    z-index: -1;
}


