@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
* {
  font-family: 'Open Sans', sans-serif;
}

#contact-view{
    /* background-image: url(../imageassest/star1.jpg); */
    background-repeat: no-repeat;
    /* background-color: blue; */
    object-fit: cover;
    display: flex;
    position: initial;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 0%;
    /* filter:  blur(2px) */
    /* align-items: center; */
    /* align-content: center; */
}
#contact-top{
    display: flex;
    flex-direction: row;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#map-view{
    display: table-caption;
    width: 400px;
    /* justify-content: center; */
    margin-top: 50px;
    background: black;
}

#form{
    /* margin-left: 100px; */
    width: 308px;
    position: relative;
    height: auto;
}

#contact-label{
    text-align: center;
    height: auto;
    margin: 20px;
    padding: 20px;
    width: 308px;
}

.uk-tooltip{
    color:blue;
}

#heading-title:focus-visible{
    animation-name: heading-title-animation
}

 /* heading_title animation */
 @keyframes heading-title-animation {
    0% {
      opacity: 0;
    }
    100% {
      transform: translateY(10%);
      transition: 0.3s;
      opacity: 1;
    }
  }
