/* font for home desing */
.font-3d{
    font-family: 'KulminoituvaRegular', helvetica, sans-serif;
}
.font-3d-size{
    font-size: 2vw;
}
.font-3d-color-white{
    color: whitesmoke;
}
.font-3d-color-blue{
    color:blue;
}
.font-3d-weight{
    font-weight: bold;
}

/* @font-face {
    font-family: 'KulminoituvaRegular';
    src: url('../font/Kulminoituva.ttf.eot');
    src: url('../font/Kulminoituva.ttf.woff') format('woff'), url('../font/kulminoituva.ttf') format('truetype'), url('../font/Kulminoituva.ttf.svg') format('svg');
    font-weight: normal;
    font-style: normal;
   } */

@media only screen and (max-width: 600px) {
    .font-3d-size{
        /* font-size: 4vw; */
        font-family: 'Courier New', Courier, monospace;
    }
    
}