.home-contianer {
    position: relative;    
    background-color: #ac0f0f

}
.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
}
.welcome-image {
    width: 100%;
    min-height: 200px;
    object-fit: cover;
}

.welcome-text{
    position: absolute;
    color: #ffffff;
    text-align: center;
}

.welcome-text h1 {
    font-size: 6vw;
    text-shadow: 1px 1px 10px #000000;
}

.welcome-text h3 {
    font-size: 4vw;
    text-shadow: 1px 1px 10px #000000;
}

/* .carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px 10px 0px;
}

.carousel-image {
    height: 400px;
    width: 100%;
    object-fit: contain;
} */

.feature-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.feature-unit {
    display: flex;
    width: 380px;
    height: auto;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 15px;
    padding: 15px;
    /* box-shadow: 0px 1px 20px #0000007c; */
    /* border-radius: 10px */
}

.feature-unit-img {
    width: 100%;
    height: 70%;
    object-fit: contain;
}

@media screen and (min-width: 1000px) {

    .welcome-text h1 {
        font-size: 3.8vw;
    }
    
    .welcome-text h3 {
        font-size: 2.5vw;
    }
}