/* .section-style{
    padding-top:300px;
    padding-bottom:300px
}
#body{
    position: relative;
}
ul.nav-pills {
    top: 20px;
    position: fixed;
}
div.col-8 div {
    height: 500px;
}
.scrollspy-example {
    position: relative;
    height: 500px;
    margin-top: 50px;
    overflow: auto;
  } */


.font-3d{
    font-family: 'Cursive';
}
.font-3d-size{
    font-size: 2vw;
}
.font-3d-color-white{
    color: whitesmoke;
}
.font-3d-color-blue{
    color:blue;
}
.font-3d-weight{
    font-weight: bold;
}

@font-face {
    font-family: 'Cursive';
    src: url('../font/cursive.ttf');
    /* src: url('../font/Kulminoituva.ttf.woff') format('woff'), url('../font/kulminoituva.ttf') format('truetype'), url('../font/Kulminoituva.ttf.svg') format('svg'); */
    font-weight: normal;
    font-style: normal;
   }

@media only screen and (max-width: 700px) {
    .font-3d-size{
        /* font-size: 4vw; */
        font-family: 'Courier New', Courier, monospace;
    }
    
}
.uk-card-default{
    background: transparent;
}

.uk-container-expand img{
    object-fit: fill;
}