.my-own-card{
    height: 315;
    width: 80%;
    padding-left: 20%;
    /* position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem; */
}
.paddingTopBorder{
    padding-top: 8%;
}
.padding-top{
    padding-top: 5%;
}
.padding-all-side{
    padding: 5%;
}
.box-shadow{
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.3);
}
.card-width{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 24rem;
    
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

  
  .blur-me{
      filter: blur(10px);
  }
