#nav-section-text{
    background: transparent;
    /* border: 5px; */
    /* border-color: white; */
    border-color: transparent;
    /* border-width: 0.5px; */
    width: 100%;
    border-radius: 0px;
    color: whitesmoke;
    height: auto;  
    /* padding-left:  7%; 
    padding-right: 7%;  */
}
.heading-text{
    font-family: 'stylish';
    /* padding: 0%; */
    width: 100%;
}

#top-text{
    font-size: 2.3vw;
    text-align: center;
    width: 100%;
    margin: 0%;
}

#middle-text{
    font-size: 6vw;
    text-align: center;
    width: 100%;
    margin: 0%;
    /* padding-bottom: 1.5%; */
}

#bottom-text{
    font-size: 2.3vw;
    text-align: center;
    width: 100%;
    font-style: italic;
    margin: 0%;
}



@font-face{
    font-family: 'stylish';
    src: url('../font/TeachDemo-Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }